<div class="bg-container">
  <div class="card-vertical-center">
    <ion-card class="ion-margin dark-shadow">
      <ion-card-header class="ion-text-center">
        <h1><u>Login</u></h1>
      </ion-card-header>
      <ion-card-content>
        <form>
          <ion-item>
            <ion-label>Name</ion-label>
            <ion-input class="ion-text-capitalize" type="text" name="name"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label>Mobile No</ion-label>
            <ion-input type="number" name="mobileNo"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label>Email</ion-label>
            <ion-input type="email" name="email"></ion-input>
          </ion-item>
          <div class="ion-padding">
            <ion-button shape="round" color="primary" expand="full" type="submit" >Submit</ion-button>
          </div>
        </form>
      </ion-card-content>
    </ion-card>
  </div>
</div>
