<ion-content>
  <ion-row class="ion-text-center">
    <ion-col (click)="changeSlide(0)" [ngClass]="activeSlide === 0 ? 'active-bg' : 'bg-primary'">First</ion-col>
    <ion-col (click)="changeSlide(1)" [ngClass]="activeSlide === 1 ? 'active-bg' : 'bg-primary'">Second</ion-col>
    <ion-col (click)="changeSlide(2)" [ngClass]="activeSlide === 2 ? 'active-bg' : 'bg-primary'">Third</ion-col>
  </ion-row>
  <ion-slides #mySlider (ionSlideDidChange)="slideChanged($event)">
    <ion-slide>
      <div class="slide-inner">
        <ion-row>
          <ion-col>
            <h1>Slide - One</h1>
          </ion-col>
        </ion-row>
        <ion-item class="box-shadow" *ngFor="let item of [1,2,3,4,5]">
          <ion-label>Name</ion-label>
          <ion-input class="ion-text-capitalize" type="text" name="name"></ion-input>
        </ion-item>
      </div>
    </ion-slide>
    <ion-slide>
      <ion-row>
        <ion-col>
          <h1>Slide - Two</h1>
        </ion-col>
      </ion-row>
      <ion-list id="labels-list">
        <ion-list-header>Labels</ion-list-header>
        <ion-item *ngFor="let item of [1,2,3,4,5]">
          {{item}}
        </ion-item>
      </ion-list>
    </ion-slide>
    <ion-slide>
      <h1>Slide 3</h1>
      <h1>Slide 3</h1>
      <h1>Slide 3</h1>
      <h1>Slide 3</h1>
    </ion-slide>
  </ion-slides>
</ion-content>
