ion-slide{
  display: block !important;
}
.box-shadow{
  // box-shadow: 8px 3px 9px 4px #ccc;
  margin-top: 35px;
  box-shadow: 1px 1px 9px 7px #cdc9c9ed;
}
.slide-inner{
  padding: 20px;
  background: #000;
  // --ion-background-color: black;
}
