/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";
.bg-trans{
  background: transparent;
}
.card-vertical-center{
  display: grid;
  vertical-align: middle;
  align-items: center;
  height: 100%;
  margin: auto;
}
.bg-container{
  height: 100%;
  width: 100%;
  display: flex;
  // background-image: url(./assets/Splash.png);
  // background-size: cover;
  // background-position: center;
  // background-repeat: no-repeat;
  background-image: linear-gradient(#2e9cca, #007b0d, #005679);
}
.dark-shadow{
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
.bg-primary{
  background: #ccc;
}
.active-bg{
  background: rgb(210, 233, 10);
}
